doctype
html
  block link
  -var selected = 'home'; //default
  -var menu = { 'blog': '/blog', 'cards': '/cards', 'decks': 'decks', 'about': '/about' };
  head
    script (src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script (src="../js/main.js")
    link(rel="stylesheet", href="assets/css/main.css")
  body
    div(class="topnav" id="myTopnav")
      each val, key in menu
        if selected === key
          a.selected(href=val, title=key)= key
        else
          a(href=val, title=key)= key
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      footer.footer
        p Running on node with Express, Jade
